/*
 * Reset
 */

html.sg, body.sg, div.sg, span.sg, applet.sg, object.sg, iframe.sg, h1.sg, h2.sg, h3.sg, h4.sg, h5.sg, h6.sg, p.sg, blockquote.sg, pre.sg, a.sg, abbr.sg, acronym.sg, address.sg, big.sg, cite.sg, code.sg, del.sg, dfn.sg, em.sg, img.sg, ins.sg, kbd.sg, q.sg, s.sg, samp.sg, small.sg, strike.sg, strong.sg, sub.sg, sup.sg, tt.sg, var.sg, b.sg, u.sg, i.sg, center.sg, dl.sg, dt.sg, dd.sg, ol.sg, ul.sg, li.sg, fieldset.sg, form.sg, label.sg, legend.sg, table.sg, caption.sg, tbody.sg, tfoot.sg, thead.sg, tr.sg, th.sg, td.sg, article.sg, aside.sg, canvas.sg, details.sg, embed.sg,  figure.sg, figcaption.sg, footer.sg, header.sg, hgroup.sg,  menu.sg, nav.sg, output.sg, ruby.sg, section.sg, summary.sg, time.sg, mark.sg, audio.sg, video.sg {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article.sg, aside.sg, details.sg, figcaption.sg, figure.sg, footer.sg, header.sg, hgroup.sg, menu.sg, nav.sg, section.sg {
  display: block;
}

ol.sg, ul.sg {
  list-style: none;
}

blockquote.sg, q.sg {
  quotes: none;
}

/*
 * Styledown
 */

html.sg {
  margin: 0;
  padding: 20px 0;
}

body.sg {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;

  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.sg-example {
  float: right;
  width: 70%;
  min-height: 50px;
  outline: solid 1px rgba(90, 90, 90, 0.1);
  margin-bottom: 20px;
}

h1.sg, h2.sg,
h3.sg, h4.sg, h5.sg, h6.sg,
p.sg, ul.sg, blockquote.sg {
  clear: both;
  margin-bottom: 10px;
}

/*
 * Headings
 */

h2.sg {
  color: #7bd;
  font-size: 2em;
}

h3.sg {
  border-top: solid 1px #eee;
  margin: 20px 0 0px 0;
  padding-top: 20px;
  font-weight: bold;
}

h3.sg + p.sg {
  float: left;
  width: 28%;
  color: #90909f;
}

.sg-code-block {
  margin: 1em 0;
  float: right;
  width: 65%;
  margin-bottom: 40px;
  margin-top: -10px;
}

.sg-code-block .sg-code {
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1);
}

.sg-code-block .sg-canvas {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1);
}

.sg-code-block .sg-code {
  display: none !important;

  font-size: 0.85em;
  font-family: menlo, monospace;
  line-height: 1.5;
  padding: 20px;
  background: #fafaff;
}

/*
 * Lol
 */

.button {
  display: inline-block;
  padding: 5px 20px;
  border: solid 1px #ddd;
  background: #f0f0f0;
  border-radius: 2px;
}

.table {
  width: 100%;
}

.table th,
.table td {
  text-align: center;
}

.table th,
.table td {
  padding: 5px;
  border-bottom: solid 1px #ddd;
}

/*
 * hljs
 */

.hljs-tag { color: #999; }
.hljs-title { color: #35a; font-weight: bold; }
.hljs-attribute { color: #35a; }
.hljs-value { color: #7db; }

code.sg {
  background: #eaeafa;
  font-size: 0.9em;
  padding: 2px 8px;
  border-radius: 2px;
  color: #358;
}


.dropdown-menu {
  width: 300px;
  background: #eee;
}
