/*
 * Reset
 */

html.sg, body.sg, div.sg, span.sg, applet.sg, object.sg, iframe.sg, h1.sg, h2.sg, h3.sg, h4.sg, h5.sg, h6.sg, p.sg, blockquote.sg, pre.sg, a.sg, abbr.sg, acronym.sg, address.sg, big.sg, cite.sg, code.sg, del.sg, dfn.sg, em.sg, img.sg, ins.sg, kbd.sg, q.sg, s.sg, samp.sg, small.sg, strike.sg, strong.sg, sub.sg, sup.sg, tt.sg, var.sg, b.sg, u.sg, i.sg, center.sg, dl.sg, dt.sg, dd.sg, ol.sg, ul.sg, li.sg, fieldset.sg, form.sg, label.sg, legend.sg, table.sg, caption.sg, tbody.sg, tfoot.sg, thead.sg, tr.sg, th.sg, td.sg, article.sg, aside.sg, canvas.sg, details.sg, embed.sg,  figure.sg, figcaption.sg, footer.sg, header.sg, hgroup.sg,  menu.sg, nav.sg, output.sg, ruby.sg, section.sg, summary.sg, time.sg, mark.sg, audio.sg, video.sg {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article.sg, aside.sg, details.sg, figcaption.sg, figure.sg, footer.sg, header.sg, hgroup.sg, menu.sg, nav.sg, section.sg {
  display: block;
}

ol.sg, ul.sg {
  list-style: none;
}

blockquote.sg, q.sg {
  quotes: none;
}

/*
 * Styledown
 */

html.sg {
  margin: 0;
  padding: 20px 0;
}

body.sg {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;

  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.sg-example {
  float: right;
  width: 70%;
  min-height: 50px;
  outline: solid 1px rgba(90, 90, 90, 0.1);
  margin-bottom: 20px;
}

h1.sg, h2.sg,
h3.sg, h4.sg, h5.sg, h6.sg,
p.sg, ul.sg, blockquote.sg {
  clear: both;
  margin-bottom: 10px;
}

/*
 * Headings
 */

h2.sg {
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
  color: #888;
}

h3.sg {
  font-weight: bold;
}
