<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%- file.title %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='../../../data/styledown.css'>
  <script src='../../../data/styledown.js'></script>
</head>

<body>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <%- body %>
      </div>
    </div>
  </div>

  <%- renderSidebar() %>

  <hr>
  <div class="">
    <div class="container">
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <h3>Bootstrap styleguides</h3>
          <p>This is a sample styleguide for Bootstrap that was generated using Styledown, a styleguide generator.
          <p>
            <a href="https://github.com/styledown/styledown" class="btn btn-default">About Styledown</a>
            <a href="https://github.com/styledown/styledown/tree/master/examples/bootstrap" class="btn btn-default">See sources</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
