<div class='styleguide-sidebar'>
  <input type='checkbox' id='styleguide-sidebar-toggle' />
  <span class='styleguide-sidebar-button'></span>
  <div class='styleguide-sidebar-screen'></div>
  <div class='styleguide-sidebar-content'>
    <%- toc %>
  </div>
</div>
