/*
 * Styledown: layout
 */

html.sg {
  margin: 0;
  padding: 20px 0;
}

body.sg {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;

  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

/*
 * Styledown: text format
 */

h1.sg, h2.sg,
h3.sg, h4.sg, h5.sg, h6.sg,
p.sg, ul.sg, blockquote.sg {
  clear: both;
  margin-bottom: 10px;
}

h2.sg {
  color: #7bd;
  font-size: 2em;
}

h3.sg {
  border-top: solid 1px #eee;
  margin: 20px 0 0px 0;
  padding-top: 20px;
  font-weight: bold;
}

h3.sg + p.sg {
  float: left;
  width: 28%;
  color: #90909f;
}

code.sg {
  background: #eaeafa;
  font-size: 0.9em;
  padding: 2px 8px;
  border-radius: 2px;
  color: #358;
}

/**
 * Styleguide: code block
 */

.sg-code-block {
  margin: 1em 0;
  float: right;
  width: 65%;
  margin-bottom: 40px;
  margin-top: -10px;
}

.sg-canvas {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1);
}

.sg-code {
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1);

  display: none !important;

  font-size: 0.85em;
  font-family: menlo, monospace;
  line-height: 1.5;
  padding: 20px;
  background: #fafaff;
}

/*
 * Styleguide: syntax highlighting
 */

.hljs-tag { color: #999; }
.hljs-title { color: #35a; font-weight: bold; }
.hljs-attribute { color: #35a; }
.hljs-value { color: #7db; }
